@import 'pickadate/default';
@import 'pickadate/default.date';
@import 'pickadate/default.time';
@import "foundation_and_overrides";

body  {
  background-image: url('basketball-court.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1, p, label, a {
  color: white;
}
