<h1>Courts</h1>

<ul>
<% @locations.each do |location| %>
  <li><%= link_to location.name, location_path(location) %></li>
<% end %>
</ul>

<%= paginate @locations, window: 2 %>

<p><%= link_to "New Court", new_location_path %></p>
